<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        {% stylesheets '@XavifueferCoffeeBundle/Resources/public/styles/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        <div id="content" class="container">{{ block('content') }}</div>

        <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        {% javascripts '@XavifueferCoffeeBundle/Resources/public/scripts/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <!-- Includes Symfony routes -->
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        <!-- Includes the Google API -->
        <script src="https://www.google.com/jsapi"></script>
        <!-- Tells the API that we're going to use the search module (1) -->
        <script>google.load('search', '1');</script>

        <script>$(function() { app.Bind(new app.Comm( google ), "#content"); });</script>
    </body>
</html>